/* -----------------USER ACCOUNT FORM---------------------- */

.user-account__form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 12px;
  background-color: antiquewhite;
}

/* MEDIA QUERY DESKTOP */
@media (min-width: 415px) {
  .user-account__form-container {
    max-height: 80vh;
  }
  .user-account__form fieldset {
    width: 30%;
    padding: 1rem;
    margin: 1rem;
  }
}
.user-account__form legend {
  text-transform: capitalize;
  color: var(--Orange);
}
.user-account__input-row {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}
.user-account__input-row > label {
  flex: 0 0 25%;
  text-transform: uppercase;
}
.user-account__input-row > input {
  flex: 0 0 70%;
  padding: 0.5rem;
}
.user-account__submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}
.user-account__form-submit {
  cursor: pointer;
  padding: 15px 40px;
  background: rgb(41, 92, 133);
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 1rem;
  letter-spacing: 3px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: block;
  margin: 1rem auto;
}
.progress {
  cursor: not-allowed;
  opacity: 0.65;
}
.form-output {
  color: rgb(11, 177, 11);
  font-weight: bold;
  align-self: center;
}
.user-account__form-submit::after,
.user-account__form-submit::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.user-account__form-submit::after {
  width: 30px;
  height: 1px;
  background: white;
  transform: translateX(-3px);
  margin-top: 0px;
}

.user-account__form-submit::before {
  content: "";
  transform: rotate(-135deg) translateX(50%);
  width: 11px;
  height: 11px;
  background: transparent;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: -1px;
}

.user-account__form-submit:hover {
  padding: 15px 60px 15px 20px;
}

.user-account__form-submit:hover::after,
.user-account__form-submit:hover::before {
  opacity: 1;
  right: 15px;
}
